.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.headSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #F2F2F7;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    color: #081F32;
}

.logoSection {
    width: 40%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.goBackSection {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 10%;
    height: 200px;
    padding-right: 5%;
}

.arrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.infoSection {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h3 {
    font-size: 20px;
    color: #8E8E93;
    margin-bottom: 45px;
}

.informations {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

}

.episodes {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.spanSection {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.spanContainer {
    width: 50%;
    height: 88px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #8E8E93;
}

.imageArrowLink {
    position: relative;
    bottom: 50%;
    left: 95%;
}

.spanContainer:hover {
    background-color: #e5e5f1;
    border-radius: 1%;
}

.spanEpisode {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #081F32;
}

.spanName {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #6E798C;
}

.spanAirDate {
    margin: 10px 0 15px 0;
    font-size: 10px;
    font-weight: 500;
    color: #8E8E93;
}

@media (max-width: 720px) {
    .infoSection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .spanContainer {
        width: 100%;
        height: 88px;
    }

    .episodes {
        margin-top: 50px;
    }
}