.main, .header, .logoSection, .goBackSection, .infoSection, .headerSection, .cardsSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    flex-direction: column;
}

.header {
    width: 100%;
}

.logoSection {
    width: 30%;
    padding-right: 10%;
    flex-direction: column;
}

.goBackSection {
    text-align: center;
    width: 10%;
    height: 200px;
    padding-right: 10%;
}

.infoSection {
    width: 30%;
}

.spanContainer {
    min-width: 118px;
    display: flex;
    flex-direction: column;

}

.spanHead {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.spanContent {
    font-size: 14px;
    font-weight: 400;
    color: var(--span-header-color);
    margin-top: 5px;
}

.headerSection {
    width: 40%;
    flex-direction: column;
    padding-right: 15%;
}

.cardsSection {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.wrapEpisodesCardsContainer {
    margin-top: 100px;
    width: 60%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.spanCast {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--header-color);
}