.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSection {
    width: 30%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.goBackSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    height: 200px;
    padding-right: 10%;
}


.infoSection {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanContainer {
    min-width: 118px;
    display: flex;
    flex-direction: column;

}

.spanHead {
    font-size: 16px;
    font-weight: 700;
    color: #081F32;
}

.spanContent {
    font-size: 14px;
    font-weight: 400;
    color: #6E798C;
    margin-top: 5px;
}

.headerSection {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
}

.cardsSection {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.wrapEpisodesCardsContainer {
    margin-top: 100px;
    width: 60%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.spanCast {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #8E8E93;
}