:root{
    --shadow-color: #0000001A;
    --background-color: #FFFFFF;
    --text-color: #000000DE;
    --border-image: #F2F2F7;
    --header-color: #8E8E93;
    --span-header-color: #6E798C;
    --hover: #e5e5f1;
}
