/* BurgerMenu.module.css */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .bar {
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .open .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .open .bar:nth-child(2) {
    opacity: 0;
  }

  .open .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }