.main {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 0px 8px 2px #0000001A;

}

.image {
    display: flex;
    padding-left: 15%;
    align-items: center;
    justify-content: flex-start;
}

.links {
    width: 20%;
    display: flex;
    gap: 30px;
    padding-right: 15%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.menuNavigation {
    display: none;
}

@media (max-width: 720px) {

    .links a {
        display: none;
    }
    .menuNavigation {
        display: block;
        margin-right: 5%;
    }
}

