.main, .logoSection, .filtersSection, .cardsSection, .buttonSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    flex-direction: column;
}

.logoSection {
    max-width: 300px;
    width: 100%;
    margin: 40px;
}

.filtersSection {
    width: 100%;
}

.cardsSection {
   width: 80%;
   margin-top: 50px;
   flex-wrap: wrap;
}

.buttonSection {
    width: 100%;
    height: 150px;
    gap: 20px;
}
